* {
  text-align: center;
}

button {
  width: 180px;
  height: 80px;
  border: inherit;
  border-radius: 20px;
  margin-top: 180px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 30px;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
  transform: scale(1.1);
  background-color: darkgrey;
}
